<link rel="stylesheet" href="https://someothersite.s3.amazonaws.com/dash.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    body {
        color: #eee;
        background: #121212;
    }
    
    body a {
        color: #809fff;
    }
</style>

<div class="bs-example">
    <ul class="nav nav-tabs" style="padding-left:2px;">
        <li class="nav-item" style="width:60px;margin:auto;">
            <a class="nav-link active" style="width:60px;padding-right:0px;padding-left:7px;margin-right:0px;margin-left:0px;" data-toggle="tab" onclick="openTab1(event, 'external')">External</a>
        </li>
        <li class="nav-item" style="width:60px;">
            <a class="nav-link" style="width:60px;padding-right:0px;padding-left:8px;margin-right:0px;margin-left:0px;" data-toggle="tab" onclick="openTab1(event, 'internal')">Internal</a>
        </li>
    </ul>
</div>


<div id="external" class="tabcontent1">
    <div class="topbox">Domain</div>
    <li><a href="https://community.riskiq.com/search/vqmwhvleku.com" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;RiskIQ</a></li>
    <li><a href="https://censys.io/domain?q=vqmwhvleku.com" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Censys.io</a></li>
    <li><a href="https://dnslytics.com/domain/vqmwhvleku.com" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;DNSlytics</a></li>
    <li><a href="https://app.threatconnect.com/auth/index.xhtml#/results/vqmwhvleku.com" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;ThreatConnect</a></li>
    <li><a href="https://dns.google.com/resolve?name=vqmwhvleku.com&type=A" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Google DNS</a></li>
    <div class="box">Address</div>
    <li><a href="https://www.shodan.io/host/34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Shodan</a></li>
    <li><a href="http://dazzlepod.com/ip/?ip_address=34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;DazzlePod</a></li>
    <li><a href="https://censys.io/ipv4/34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Censys.io</a></li>
    <li><a href="https://bgp.he.net/ip/34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Hurricane Electric</a></li>
    <li><a href="https://whois.domaintools.com/34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;DomainTools</a></li>
    <li><a href="https://www.robtex.com/ip-lookup/34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Robtex</a></li>
    <li><a href="https://www.abuseipdb.com/check/34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;AbuseIpDB</a></li>
    <div class="box">File</div>
    <li><a href="https://www.hybrid-analysis.com/search?query=EA6594A60C1E8A07FD201D02B30F8B01ABDBAB373EDACEF13EC55AC3C3C0EFD3" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;HybridAnalysis</a></li>
    <li><a href="https://maltiverse.com/search;query=EA6594A60C1E8A07FD201D02B30F8B01ABDBAB373EDACEF13EC55AC3C3C0EFD3" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Maltiverse</a></li>
    <li><a href="https://www.joesandbox.com/search?q=D5F38A146E0F2F12EED9CEA814FA8B24F2626C7BD949427DDBFD24293EDC505E" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Joe Sandbox</a></li>
    <div class="box">Website</div>
    <li><a href="" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;NerdyData</a></li>
    <li><a href="https://builtwith.com/sans.org" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;BuiltWith</a></li>
    <div class="box">URL</div>
    <li><a href="https://web.archive.org/web/*/https://logon.example.com/*" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Archive.org</a></li>
    <li><a href="https://www.virustotal.com/latest-scan/http://34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;VirusTotal</a></li>
    <li><a href="https://urlhaus.abuse.ch/browse.php?search=34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;UrlHaus</a></li>
    <li><a href="https://urlquery.net/search?q=http%3A%2F%2F34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;UrlQuery</a></li>
    <li><a href="https://urlscan.io/search/#page.url:%22http%3A%2F%2F34.94.199.142%22" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Urlscan.io</a></li>
    <li><a href="https://malshare.com/search.php?query=http%3A%2F%2F34.94.199.142" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;MalShare</a></li>
    <div class="box">Other</div>
    <li><a href="https://intelligence.fireeye.com/" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;FireEye Intelligence</a></li>
    <li><a href="https://gchq.github.io/CyberChef/" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;CyberChef</a></li>
    <li><a href="https://regexone.com/" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;RegexOne</a></li>
</div>

<div id="internal" class="tabcontent1" style="margin: 1em 0;">
    <div class="topbox">FO/CSIRT</div>
    <li><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Post to FO Chat</a></li>
    <li><a href="https://outlook.office365.com/mail/inbox" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;O365 Mail</a></li>
    <li><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;OneDrive</a></li>
    <li><a href="https://git.example.com/group/repo" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;FO Git Repo</a></li>
    <li><a href="https://dev.azure.com/" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Azure DevOps</a></li>
    <li><a href="https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Overview" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Azure Portal</a></li>
    <li><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Sharepoint FO</li>
      <li><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Sharepoint CSIRT</li>
  <div class="box">Policy/Guidance</div>
      <li><a href="https://git.example.com/" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;How To Security</a></li>
    <li><a href="https://git.example.com/" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;AWS Policies</a></li>
    <li><a href="https://git.example.com/" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;AWS Allow List</a></li>
    <li><a href="https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/security/fundamentals/best-practices-and-patterns.md" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Azure Best Practices</a></li>
    <div class="box">SOC Tools</div>
    <li><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Splunk</a></li>
    <li><a href="https://cloud.tenable.com/app.html#/dashboards/workbench/assets" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Tenable.io</a></li>
    <li><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;FireEye</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;(AWS)</a></li>
    <li><a href="https://" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;MISP</a></li>
    <li><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;ECOP</a></li>
    <li><a href="https://exabeam.example.com:8484/login" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Exabeam</a></li>
    <li><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Email Archive</a></li>
    <div class="box">System Info & POCs</div>
    <li><a href="https://servicehub.example.com/?my_portfolios=" target="_blank"><i class="fa fa-link"
    <li><a href="https://servicehub.example.com/reports/poc" target="_blank"><i class="fa fa-link"
    <li><a href="https://ecn.example.com/team/mgtoit_ISD/Offices/oit/ISD/FCB/sap/Lists/" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;ECN</a></li>
    <li><a href="https://git.example.com/group/repo/wiki/AWS-Point-Of-Contact-List" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;AWS POCs</a></li>
    <li><a href="https://git.example.com/erweinig/cloud-accounts/blob/master/" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;AWS Account List</a></li>
    <li><a href="http://vsc-cmdb-c1-01/Reports_CM1/Pages/Folder.aspx?ItemPath=/ConfigMgr_CM1&ViewMode=List" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;CMDB</a></li>
    <li><a href="https://ecn.example.com/team/mgt_ATD/Offices/oit/ATD/ATD_Team_Site/SVM/itam/Lists/ASL_21/Main.aspx" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;Approved Software</a></li>
</div>

<script>
    function openTab1(evt, tabName) {
        var i, tabcontent1, tablinks1;
        tabcontent1 = document.getElementsByClassName("tabcontent1");
        for (i = 0; i < tabcontent1.length; i++) {
            tabcontent1[i].style.display = "none";
        }
        tablinks1 = document.getElementsByClassName("tablinks1");
        for (i = 0; i < tablinks1.length; i++) {
            tablinks1[i].className = tablinks1[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        //   evt.currentTarget.className += " active";
    }
</script>


<link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
<link rel="stylesheet" href="https://codemirror.net/theme/3024-day.css">
<link rel="stylesheet" href="https://codemirror.net/theme/3024-night.css">
<link rel="stylesheet" href="https://codemirror.net/theme/abcdef.css">
<link rel="stylesheet" href="https://codemirror.net/theme/ambiance.css">
<link rel="stylesheet" href="https://codemirror.net/theme/ayu-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/ayu-mirage.css">
<link rel="stylesheet" href="https://codemirror.net/theme/base16-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/bespin.css">
<link rel="stylesheet" href="https://codemirror.net/theme/base16-light.css">
<link rel="stylesheet" href="https://codemirror.net/theme/blackboard.css">
<link rel="stylesheet" href="https://codemirror.net/theme/cobalt.css">
<link rel="stylesheet" href="https://codemirror.net/theme/colorforth.css">
<link rel="stylesheet" href="https://codemirror.net/theme/dracula.css">
<link rel="stylesheet" href="https://codemirror.net/theme/duotone-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/duotone-light.css">
<link rel="stylesheet" href="https://codemirror.net/theme/eclipse.css">
<link rel="stylesheet" href="https://codemirror.net/theme/elegant.css">
<link rel="stylesheet" href="https://codemirror.net/theme/erlang-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/gruvbox-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/hopscotch.css">
<link rel="stylesheet" href="https://codemirror.net/theme/icecoder.css">
<link rel="stylesheet" href="https://codemirror.net/theme/isotope.css">
<link rel="stylesheet" href="https://codemirror.net/theme/lesser-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/liquibyte.css">
<link rel="stylesheet" href="https://codemirror.net/theme/lucario.css">
<link rel="stylesheet" href="https://codemirror.net/theme/material.css">
<link rel="stylesheet" href="https://codemirror.net/theme/material-darker.css">
<link rel="stylesheet" href="https://codemirror.net/theme/material-palenight.css">
<link rel="stylesheet" href="https://codemirror.net/theme/material-ocean.css">
<link rel="stylesheet" href="https://codemirror.net/theme/mbo.css">
<link rel="stylesheet" href="https://codemirror.net/theme/mdn-like.css">
<link rel="stylesheet" href="https://codemirror.net/theme/midnight.css">
<link rel="stylesheet" href="https://codemirror.net/theme/monokai.css">
<link rel="stylesheet" href="https://codemirror.net/theme/moxer.css">
<link rel="stylesheet" href="https://codemirror.net/theme/neat.css">
<link rel="stylesheet" href="https://codemirror.net/theme/neo.css">
<link rel="stylesheet" href="https://codemirror.net/theme/night.css">
<link rel="stylesheet" href="https://codemirror.net/theme/nord.css">
<link rel="stylesheet" href="https://codemirror.net/theme/oceanic-next.css">
<link rel="stylesheet" href="https://codemirror.net/theme/panda-syntax.css">
<link rel="stylesheet" href="https://codemirror.net/theme/paraiso-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/paraiso-light.css">
<link rel="stylesheet" href="https://codemirror.net/theme/pastel-on-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/railscasts.css">
<link rel="stylesheet" href="https://codemirror.net/theme/rubyblue.css">
<link rel="stylesheet" href="https://codemirror.net/theme/seti.css">
<link rel="stylesheet" href="https://codemirror.net/theme/shadowfox.css">
<link rel="stylesheet" href="https://codemirror.net/theme/solarized.css">
<link rel="stylesheet" href="https://codemirror.net/theme/the-matrix.css">
<link rel="stylesheet" href="https://codemirror.net/theme/tomorrow-night-bright.css">
<link rel="stylesheet" href="https://codemirror.net/theme/tomorrow-night-eighties.css">
<link rel="stylesheet" href="https://codemirror.net/theme/ttcn.css">
<link rel="stylesheet" href="https://codemirror.net/theme/twilight.css">
<link rel="stylesheet" href="https://codemirror.net/theme/vibrant-ink.css">
<link rel="stylesheet" href="https://codemirror.net/theme/xq-dark.css">
<link rel="stylesheet" href="https://codemirror.net/theme/xq-light.css">
<link rel="stylesheet" href="https://codemirror.net/theme/yeti.css">
<link rel="stylesheet" href="https://codemirror.net/theme/idea.css">
<link rel="stylesheet" href="https://codemirror.net/theme/darcula.css">
<link rel="stylesheet" href="https://codemirror.net/theme/yonce.css">
<link rel="stylesheet" href="https://codemirror.net/theme/zenburn.css">
<script src="https://codemirror.net/lib/codemirror.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://someothersite.s3.amazonaws.com/dash.css">
<script src="https://unpkg.com/xterm@4.0.0/lib/xterm.js"></script>
<link rel="stylesheet" href="https://unpkg.com/xterm@4.0.0/css/xterm.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



<script src="https://codemirror.net/mode/javascript/javascript.js"></script>
<script src="https://codemirror.net/addon/selection/active-line.js"></script>
<script src="https://codemirror.net/addon/edit/matchbrackets.js"></script>
<script src="https://codemirror.net/mode/xml/xml.js"></script>
<script src="https://codemirror.net/mode/css/css.js"></script>
<script src="https://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
<script src="https://codemirror.net/addon/display/autorefresh.js"></script>


<div class="bs-example" style="height:30px;">
    <ul class="nav nav-tabs" style="margin-top: 0px;padding-top:0px;">
        <li class="nav-item" style="margin-top: 3px;padding-top:3px;padding-bottom:1px;">
            <a class="nav-link" data-toggle="tab" style="margin-top: 0px;padding-top:1px;padding-bottom:1px;" onclick="openTab2(event, 'terminal')">Terminal</a>
        </li>
        <li class="nav-item" style="margin-top: 3px;padding-top:3px;padding-bottom:1px;">
            <a class="nav-link active" data-toggle="tab" style="margin-top: 0px;padding-top:1px;padding-bottom:1px;" onclick="openTab2(event, 'edito')">Code Editor</a>
        </li>
        <li class="nav-item" style="margin-top: 3px;padding-top:3px;padding-bottom:1px;">
            <a id=temp-link class="nav-link" data-toggle="tab" style="margin-top: 0px;padding-top:1px;padding-bottom:1px;" onclick="openTab2(event, 'templat')">HTML Template</a>
        </li>
        <li class="nav-item" style="margin-top: 3px;padding-top:3px;padding-bottom:1px;">
            <a class="nav-link" data-toggle="tab" style="margin-top: 0px;padding-top:1px;padding-bottom:1px;" onclick="openTab2(event, 'forma')">Ticket Format</a>
        </li>
    </ul>
</div>
<div id="terminal" class="tabcontent2">
    <script src="https://someothersite.s3.amazonaws.com/demo.js"></script>

</div>
<div id="edito" class="tabcontent2">
    <textarea id=code name=code style="padding-top:0px;">
<style type="text/css"> 
	body 	{ background-color:lightblue; }
    a 		{ color:dodgerblue; }
    a:hover { color:blue; }
</style>

<h1>This is a title</h1>
  
<p>This is some text</p>
  
<p>Here is an inline <a href="#">hyperlink</a> inside of a paragraph</p>
  
<p>Here is a list:</p>
<ul>
<li>Item 1</li>
<li>Item 2</li>
</ul>
    </textarea>

    <iframe id=preview style=""></iframe>

    <p style="width:150px;height:20px;"><select onchange="selectTheme()" id=select>
        <option selected>ayu-dark</option>
        <option>3024-day</option>
        <option>3024-night</option>
        <option>abcdef</option>
        <option>ambiance</option>
        <option>ayu-dark</option>
        <option>ayu-mirage</option>
        <option>base16-dark</option>
        <option>base16-light</option>
        <option>bespin</option>
        <option>blackboard</option>
        <option>cobalt</option>
        <option>colorforth</option>
        <option>darcula</option>
        <option>dracula</option>
        <option>duotone-dark</option>
        <option>duotone-light</option>
        <option>eclipse</option>
        <option>elegant</option>
        <option>erlang-dark</option>
        <option>gruvbox-dark</option>
        <option>hopscotch</option>
        <option>icecoder</option>
        <option>idea</option>
        <option>isotope</option>
        <option>lesser-dark</option>
        <option>liquibyte</option>
        <option>lucario</option>
        <option>material</option>
        <option>material-darker</option>
        <option>material-palenight</option>
        <option>material-ocean</option>
        <option>mbo</option>
        <option>mdn-like</option>
        <option>midnight</option>
        <option>monokai</option>
        <option>moxer</option>
        <option>neat</option>
        <option>neo</option>
        <option>night</option>
        <option>nord</option>
        <option>oceanic-next</option>
        <option>panda-syntax</option>
        <option>paraiso-dark</option>
        <option>paraiso-light</option>
        <option>pastel-on-dark</option>
        <option>railscasts</option>
        <option>rubyblue</option>
        <option>seti</option>
        <option>shadowfox</option>
        <option>solarized dark</option>
        <option>solarized light</option>
        <option>the-matrix</option>
        <option>tomorrow-night-bright</option>
        <option>tomorrow-night-eighties</option>
        <option>ttcn</option>
        <option>twilight</option>
        <option>vibrant-ink</option>
        <option>xq-dark</option>
        <option>xq-light</option>
        <option>yeti</option>
        <option>yonce</option>
        <option>zenburn</option>
    </select>
    </p>
</div>

<div id="templat" class="tabcontent2">
    <p>Hotspot settings for <span style="color:green"
    <p>If additional error messages or abnormal activity is observed, recommend capturing images of the event if possible and providing <u>specific details</u> on the activity that was observed.</p>
    <span><b>Examples:</b></span>
    <ul>
        <li>The names and locations of the file or files deleted/modified/created</li>
        <li>The exact wording of the error messages observed and application that generated them</li>
        <li>Events indicating the workstation settings were changed</li>
        <li>Events indicating the workstation was communicating to an unauthorized device</li>
    </ul>
</div>

<div id="forma" class="tabcontent2">
    <div class="e" style="padding-top:0px;">
        <div id="origin">Point of Origin:</div>
        <div class="atitle">ePO Alert</div>
        <div style="">
            <code class="codebox"> Target File Name:   C:\Users\cjclarke\AppData\Local\Google\Chrome\User Data\Default\Cache\f_002b9
            Number of events: 1
            Threat Name:  PDF/Phish.m
            Threat Type:   Trojan
            Threat Action Taken:  Delete
            Analyzer Detection Method: On-Access Scan
            Detecting Product Names:  McAfee Endpoint Security

        </div>
    </div>

    <div class="e">
        <div id="artifacts">Artifacts:</div>
        <div style="">
            <table class="otable" id="atable">
                <tr>
                    <td>Sandbox Analysis of PDF</td>
                    <td><a style="color:color: #337ab7;" href="https://app.any.run/tasks/f43dcd63-c45a-44d0-9f4f-cbf0dcc0896b" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;https://app.any.run/tasks/f43dcd63-c45a-44d0-9f4f-cbf0dcc0896b</a></td>
                </tr>
                <tr>
                    <td>Zip, browser history, triage</td>
                    <td><a href="" target="_blank"><i class="fa fa-link"
                </tr>
                <tr>
                    <td>Similar tickets</td>
                    <td><a href="https://swimlane.example.com/record/aEzKiRqHbDKYF/aSU1jq9_u1GYKZ2Zb" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;INC2343765 </a>,&nbsp;&nbsp;&nbsp;<a class="safe" href="https://swimlane.example.com/record/aEzKiRqHbDKYF/a2ssY1TQyaH8BxE44"
                            target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;INC2346580</a></td>
                </tr>
            </table><br>
        </div>
    </div>

    <div class="e">
        <div id="timeline">Timeline:</div>
        <div style="">
            <table class="otable" id="ttable">
                <tr>

                    <td>User google search</td>
                </tr>
                <tr>

                    <td>User visits Shopify link and Chrome browser caches the pdf</td>
                </tr>
                <tr>

                    <td>Mcafee ePO alert</td>
                </tr>
            </table><br>
        </div>
    </div>

    <div class="e">
        <div id="analysis">Analysis:</div>
        <div class="atitle">lanugodegamet.pdf</div>
        <div class="artifact">
            <code class="codebox">  > has a full title of "The logical thinking process dettmer.pdf", "dettmer" being one of the keyword the user had google searched
        > present a fake captcha image when opened, prompting the user to click on it
        > once the fake captcha is clicked, the user is prompted to download an executable from <span class="bad">regpodcasts[.]com</span></code>
        </div>

        <div class="atitle">the+logical+thinking+process+dettmer+pdf-RTMD-AGxea1-GMAAAEDkCAERFGQAmAPCrXnYA.exe</div>
        <div class="artifact">
            <code class="codebox">  > have a very long named with the pdf file name appended along with many random characters
        > have a 31/70 detection ratio on <a class="safe" href=""><i class="fa fa-external-link"></i>&nbsp;VirusTotal</a>
        > will attempt to DNS resolve domain named <span class="bad">easywbdesign[.]com</span> and <span class="bad">server2[.]easywbdesign[.]com</span>; and then connect to them via port 443
        > according to OSINT &nbsp;<span class="bad">easywbdesign[.]com</span>, is being listed as a possible C2 for a botnet</code>
        </div>

        <div class="atitle">USER:</div>
        <div class="artifact">
            <code class="codebox">  > 30 day proxy log search along with the user's browser history does not show any traffic to the malware delivery or C2 domain
        > sysmon logs search does not show an executable matching what was observed written or executed on the user's system</code>
        </div>
    </div>
</div>

<script>
    function openTab2(evt, tabName) {
        var i, tabcontent2, tablinks2;
        tabcontent2 = document.getElementsByClassName("tabcontent2");
        for (i = 0; i < tabcontent2.length; i++) {
            tabcontent2[i].style.display = "none";
        }
        tablinks2 = document.getElementsByClassName("tablinks2");
        for (i = 0; i < tablinks2.length; i++) {
            tablinks2[i].className = tablinks2[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        // evt.currentTarget.className += " active";
    }
    openTab2(event, 'terminal');

    setTimeout(function() {
        window.delay;
        window.editor = CodeMirror.fromTextArea(document.getElementById('code'), {
            mode: 'text/html',
            lineNumbers: true,
            lineWrapping: true,
            styleActiveLine: true,
            matchBrackets: true,
            autoRefresh: true
        });

        window.editor.setOption("theme", 'ayu-dark');
        window.editor.on("change", function() {
            clearTimeout(window.delay);
            window.delay = setTimeout(updatePreview, 300);
        });

        window.selectTheme = function() {
            var input = document.getElementById("select");
            var theme = input.options[input.selectedIndex].textContent;
            editor.setOption("theme", theme);
        };

        window.choice = (location.hash && location.hash.slice(1)) || (document.location.search && decodeURIComponent(document.location.search.slice(1)));
        if (window.choice) {
            input.value = window.choice;
            window.editor.setOption("theme", choice);
        };

        window.updatePreview = function() {
            var previewFrame = document.getElementById('preview');
            var preview = previewFrame.contentDocument || previewFrame.contentWindow.document;
            preview.open();
            preview.write(window.editor.getValue());
            preview.close();
        };

        setTimeout(updatePreview, 300);
    }, 3000);
</script>



<div id="search" class="tabcontent2">
    <br/>
    <div class="input-group mb-3">
        <input id="term" type="text" class="form-control" placeholder="text" aria-label="search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button type="button" onclick="searchCall()" class="btn btn-outline-success">Search</button>
        </div>
    </div>
    <br/>
    <div id="out">
        <table id=table2 class="table-dark">
            <thead>
                <tr>
                    <th data-field="results.aEzKiRqHbDKYF.id" data-formatter="formatId"><span class="text-success">ID</span></th>
                    <th data-field="results.aEzKiRqHbDKYF.trackingId" data-formatter="formatTid"><span class="text-success">TrackingId</span></th>
                </tr>
            </thead>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script>
        function searchCall() {
            var term = document.getElementById('term').value;
            var tok = localStorage.jwt_token;
            var url = `https://swimlane.example.com/api/search`;
            var bod = `{"filters":[{"fieldId":"aTjz3oW3Vezt9","id":"","filterType":"contains","value":"${term}"}]}`;

            function redisplay() {
                var data = (this.responseText);
                $('#table2').bootstrapTable({
                    data: data
                });
                $('#table2').bootstrapTable('load', data);
                $('#table2').bootstrapTable('hideLoading');
            }
            var request = new XMLHttpRequest();
            request.addEventListener("load", redisplay);
            request.open('POST', url, true);
            request.setRequestHeader('Authorization', `Bearer ${tok}`);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(bod);
        }
    </script>
</div>
