
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">


    <link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/3024-day.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/3024-night.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/abcdef.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/ambiance.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/ayu-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/ayu-mirage.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/base16-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/bespin.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/base16-light.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/blackboard.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/cobalt.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/colorforth.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/dracula.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/duotone-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/duotone-light.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/eclipse.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/elegant.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/erlang-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/gruvbox-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/hopscotch.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/icecoder.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/isotope.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/lesser-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/liquibyte.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/lucario.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/material.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/material-darker.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/material-palenight.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/material-ocean.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/mbo.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/mdn-like.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/midnight.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/monokai.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/moxer.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/neat.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/neo.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/night.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/nord.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/oceanic-next.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/panda-syntax.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/paraiso-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/paraiso-light.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/pastel-on-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/railscasts.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/rubyblue.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/seti.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/shadowfox.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/solarized.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/the-matrix.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/tomorrow-night-bright.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/tomorrow-night-eighties.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/ttcn.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/twilight.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/vibrant-ink.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/xq-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/xq-light.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/yeti.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/idea.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/darcula.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/yonce.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/zenburn.css">


    <!-- xterm -->
    <link rel="stylesheet" href="https://unpkg.com/xterm@4.0.0/css/xterm.css">

    <!-- custom -->
    <!-- <link rel="stylesheet" href="https://someothersite.s3.amazonaws.com/dash.css"> -->

    <!-- xterm -->
    <script type="text/javascript" src="https://unpkg.com/xterm@4.0.0/lib/xterm.js"></script>

    <!-- codemirror -->
    <script type="text/javascript" src="https://codemirror.net/lib/codemirror.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://codemirror.net/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="https://codemirror.net/addon/selection/active-line.js"></script>
    <script type="text/javascript" src="https://codemirror.net/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="https://codemirror.net/mode/xml/xml.js"></script>
    <script type="text/javascript" src="https://codemirror.net/mode/css/css.js"></script>
    <script type="text/javascript" src="https://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="https://codemirror.net/addon/display/autorefresh.js"></script>
    
    <script type="text/javascript" src="https://someothersite.s3.amazonaws.com/demo.js"></script>



<style type="text/css">
    body {
        color: #eee;
        background: #121212;
    }
    
    body a {
        color: lightblue;
        font-size: 11px;
    }
    h7 {
        color: lightgrey;
        font-size: 12px;
    }
    h6 {
        color: rgb(0, 255, 255);
    }
    a:hover {
        color: blue;
    }   

    .container {
        padding:10px !important;
        max-width:1420px !important;
        /* width: 100% !important; */
    }
    .row {
        border-radius: .75rem!important
    }
    
    .intLinks,
    .extLinks,
    .obRow {
        background-color: #000 !important;
    }

    input, 
    #outDomain,
    #outUrl {
        background-color: #000 !important;
        color: #FFF !important;
    }
    
    .btn {
        display: inline-block;
    }
    
    .list-group-item {
        font-size: 11px !important;
    }
    
    .btn-sm {
        font-size: 11px !important;
    }
    
    .bg-dark {
        color: white;
    }
    
    .cols {
        float: left;
        margin: auto;
        padding: 6px
    }
    
    .obColumn {
        width: 200px;
    }
    
    .intColumn {
        width: 200px;
    }
    
    .extColumn {
        width: 540px;
    }
    
    .cwide {
        width: 1000px;
    }
    /* ol {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    } */
    
    ol.no-bullets {
        list-style-type: none;
        /* Remove bullets */
        padding: 0;
        /* Remove padding */
        margin: 0;
        /* Remove margins */
    }
    
    .nav,
    .navbar,
    .navbar-brand {
        padding: 0px !important;
    }
    
    .nav-link {
        font-size: 14px;
        padding: 0px !important;
    }
    
    .nav-item {
        padding-left: 20px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    .table-sm {
        font-size: 12px !important;
    }
    .table-responsive{
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
    textarea {  
        display: block;
        overflow: hidden;
        background-color: #000 !important;
        color: #FFF !important;
        width: 250px;
        font-size: 14px;
        border-radius: 6px;
        box-shadow: 2px 2px 8px rgba(black, .3);
        border: 0;
    }    
    textarea:focus{
            border: none;
            outline: none;
    }


</style>

<script type="text/javascript">


    const censysKey = "ba1b6a34-4980-4070-ac62-64a267b9148f"; 
    const censysSec = "TlWcDyOtNZRJ5RbK1skm6fBP6G9gUYzu";
    

    var splunkLinks = [
        {
            "macro": "External Inbound Apache Logs",
            "link": "",
            "url": ""
        },
        {
            "macro": "External Inbound ASA Traffic",
            "link": "",
            "url": ""
        },
        {
            "macro": "External Inbound AWS Access Logs",
            "link": "",
            "url": ""
        },
        {
            "macro": "External Inbound By Application",
            "link": "",
            "url": ""
        },
        {
            "macro": "External Inbound IIS Logs",
            "link": "",
            "url": ""
        },
        {
            "macro": "External Inbound Proxy Traffic",
            "link": "",
            "url": ""
        },
        {
            "macro": "External Inbound Single Factor Authentication",
            "link": "",
            "url": ""
        },
        {
            "macro": "External Inbound Tunneled Traffic",
            "link": "",
            "url": ""
        },
        {
            "macro": "OCP Application Logs",
            "link": "",
            "url": ""
        }
    ];


    // var $table = $('#table');
    var timelineData = [{
        "day": "10/21/2020",
        "time": "13:02:43",
        "event": "Access key (<span style=\"color:red;\">AKIA</span>) and secret key string for the <span style=\"color:green\">svc-common</span> user in the ESB-mod-nonprod AWS account was commit to public Github repository <a href=\"https://github.com/al/aws\" target=\"_blank\"><i class=\"fa fa-external-link\"></i>&nbsp;https://github.com/al/aws</a> by user al"
    }, {
        "day": "10/21/2020",
        "time": "13:02:50",
        "event": "AWS applied the IAM Policy <span style=\"color:yellow\">AWSCompromisedKeyQuarantine</span> on the IAM user <span style=\"color:green\">svc</span>. This Policy restrict the user from the following:<br><t>- Deny all EC2 (instances,VM)<br><t>- Deny all IAM (AWS user identity and access management)<br>- Deny all Lambda (scripting, automation using Lambda)<br>- Deny all Lightsail (web applications)<br>- Deny all Organization (centralized AWS account management)"
    }, {
        "day": "10/21/2020",
        "time": "13:03:53",
        "event": "The same access key and secret key string was deleted from code but was retained in code commit history"
    }, {
        "day": "10/21/2020",
        "time": "13:04:14",
        "event": "The external actor used <kbd>GetSessionToken</kbd> to obtain temporary access key <span style=\"color:red\">ASIA</span> set to expire on <span style=\"color:green\">Oct 23, 2020 6:04:14 AM</span>"
    }, {
        "day": "10/21/2020",
        "time": "13:04:15",
        "event": "- listed access keys (secret key strings were not revealed<br>- listed users (user password were not revealed)<br>- successfully deleted another access key in the same account <span style=\"color:red;\">AKIA</span>"
    }, {
        "day": "10/21/2020",
        "time": "13:04:16",
        "event": "- 2 fail attempts to create a new access key<br>- successfully deleted the currently exposed access key <span style=\"color:red;\">AKIAZCFGRYL5VMYQFW54</span><br>- failed in an attempt to create a new user<br>- listed the SAML provider"
    }, {
        "day": "10/21/2020",
        "time": "13:04:16 - 13:04:21",
        "event": "- list AWS service quotas<br>- No further activity was observed after this time"
    }, {
        "day": "10/21/2020",
        "time": "13:08:00",
        "event": "AWS config logs were enabled"
    }, {
        "day": "10/21/2020",
        "time": "13:15:00",
        "event": "AWS notified the AWS Cloud Monitor team of a potential access key compromise"
    }, {
        "day": "10/21/2020",
        "time": "13:59:17",
        "event": "Cloud admin George Ritter deleted the <span style=\"color:green\">svc-common</span> user effectively removing access"
    }, {
        "day": "10/21/2020",
        "time": "14:54:00",
        "event": "End User account involved with posting the keys to Github was disabled"
    }, {
        "day": "10/21/2020",
        "time": "14:55:00",
        "event": "End User account involved with posting the keys to Github was disabled"
    }, {
        "day": "10/22/2020",
        "time": "09:09:00",
        "event": "End User PIV was revoked"
    }];



    function formatId(value, row) {

    }

    function searchCall() {
        $('#outSearch').show()
        var term = document.getElementById('term').value;
        var tok = localStorage.jwt_token;

        var bod = `{"filters":[{"fieldId":"aTjz3oW3Vezt9","id":"5f7617109fede957cdfc36c2","filterType":"contains","value":"${term}"}]}`;

        function redisplay() {
            var d = JSON.parse(this.responseText);
            console.log(d)
            window.data = d.results.aEzKiRqHbDKYF;
            console.log(data)
            $('#searchTable').bootstrapTable({
                data: data
            });
            $('#searchTable').bootstrapTable('load', data);
            $('#searchTable').bootstrapTable('hideLoading');
        }
        var request = new XMLHttpRequest();
        request.addEventListener("load", redisplay);
        request.open('POST', url, true);
        request.setRequestHeader('Authorization', `Bearer ${tok}`);
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.send(bod);
    }

    // function searchCall() {
    //     $('#outSearch').show()
    //     var term = document.getElementById('term').value;
    //     var tok = localStorage.getItem('jwt_token');


    //         method: 'post', 
    //         headers: new Headers({
    //             'Accept': 'application/json',
    //             'Content-Type': 'application/json',
    //             'Authentication': `Bearer ${tok}`,


    //         }), 
    //         body: JSON.stringify({
    //             'filters': [
    //                 {
    //                     'fieldId': 'aTjz3oW3Vezt9',
    //                     'id': '5f7617109fede957cdfc36c2',
    //                     'filterType': 'contains',
    //                     'value': `${term}`
    //                 }
    //             ]
    //         })
    //     });
    // }


    function makeCall(param) {
        $('#outButton').show()
        var tok = localStorage.jwt_token;


        function display(data) {
            $('#buttonTable').bootstrapTable({
                data: data
            });
            $('#buttonTable').bootstrapTable('load', data);
            $('#buttonTable').bootstrapTable('hideLoading');
        }
            
        $.post( {

            type: 'GET',
            // data: { content: 'testing test' },
            
            beforeSend : function( xhr ) {
                xhr.setRequestHeader( "Authorization", "BEARER " + tok );
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            },
            success: function( response ) {
                display(response);
            },
            error: function(err) {
                switch (err.status) {
                case "400":
                    // bad request
                    break;
                case "401":
                    // unauthorized
                    break;
                case "403":
                    // forbidden
                    break;
                default:
                    //Something bad happened
                    break;
                }
            },
        });
    }


    function updateLinks(value, type) {
        if (type == "ipv4-addr") {
            var address = value;


            document.getElementById('teams_a').href = 'msteams://teams.microsoft.com/l/chat/0/0?topicName=Discussion&message=' + address;
            document.getElementById('onenote_a').href = 'onenote://teams.microsoft.com/l/chat/0/0?topicName=Discussion&message=' + address;


            document.getElementById('riskiq_a').href = 'https://community.riskiq.com/search/' + address;
            document.getElementById('censys_a').href = 'https://censys.io/ipv4/' + address;
            document.getElementById('dazzlepod_a').href = 'https://dazzlepod.com/ip/?ip_address=' + address;
            document.getElementById('shodan_a').href = 'https://www.shodan.io/host/' + address;
            document.getElementById('hurricane_a').href = 'https://bgp.he.net/ip/' + address;
            document.getElementById('domainTools_a').href = 'https://whois.domaintools.com/' + address;
            document.getElementById('robtex_a').href = 'https://www.robtex.com/ip-lookup/' + address;
            document.getElementById('dnslytics_a').href = 'https://dnslytics.com/ip/' + address;
            document.getElementById('threatconnect_a').href = 'https://app.threatconnect.com/auth/index.xhtml#/results/' + address;
            document.getElementById('abuseipdb_a').href = 'https://www.abuseipdb.com/check/' + address;
            document.getElementById('urlhaus_a').href = 'https://urlhaus.abuse.ch/browse.php?search=' + address;
            document.getElementById('googledns_a').href = 'https://dns.google.com/query?name=' + address;
            document.getElementById('virustotal_a').href = 'https://www.virustotal.com/gui/ip-address/' + address;

        } else if (type == "domain-name") {
            var domain = value;


            document.getElementById('riskiq_d').href = 'https://community.riskiq.com/search/' + domain;
            document.getElementById('censys_d').href = 'https://censys.io/domain?q=' + domain;
            document.getElementById('robtex_d').href = 'https://www.robtex.com/dns-lookup/' + domain;
            document.getElementById('dnslytics_d').href = 'https://dnslytics.com/domain/' + domain;
            document.getElementById('threatconnect_d').href = 'https://app.threatconnect.com/auth/index.xhtml#/results/' + domain;
            document.getElementById('urlhaus_d').href = 'https://urlhaus.abuse.ch/browse.php?search=' + domain;
            document.getElementById('googledns_d').href = 'https://dns.google.com/query?name=' + domain;
            document.getElementById('teams_d').href = 'msteams://teams.microsoft.com/l/chat/0/0?topicName=Discussion&message=' + domain;


            document.getElementById('archive_d').href = 'https://web.archive.org/web/*/' + domain + '/*';
            document.getElementById('virustotal_d').href = 'https://www.virustotal.com/gui/domain/' + domain;
            document.getElementById('builtwith_d').href = 'https://builtwith.com/' + domain;

        } else if (type == "url") {
            var url = value;
            document.getElementById('archive_u').href = 'https://web.archive.org/web/*/' + url + '/*';
            document.getElementById('virustotal_u').href = 'https://www.virustotal.com/latest-scan/' + url;
            document.getElementById('urlquery_u').href = 'https://urlquery.net/search?q=' + url;
            document.getElementById('urlscan_u').href = 'https://urlscan.io/search/#page.url:' + url;
            document.getElementById('malshare_u').href = 'https://malshare.com/search.php?query=' + url;

            document.getElementById('teams_u').href = 'msteams://teams.microsoft.com/l/chat/0/0?topicName=FO%20Discussion&message=' + url;


        } else {


            // alert("Didn't match a type in updateLinks");
        }
    }



</script>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark m-0 p-0">
        <ul class="navbar-nav m-0- p-0 ">
            <li class="nav-item"><a class="nav-link" href="#" onclick="changePage('observables')">&gt;</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="changePage('observables')">Observables</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="changePage('api')">Swimlane API</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="changePage('remnux')">REMnux</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="changePage('edito')">Code Editor</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="changePage('forma')">Ticket Format</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="changePage('timeline')">Timeline</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="changePage('splunk')">Splunk</a></li>
        </ul>
    </nav>

    <div id="observables" class="tabcontent2 observables" style="">
        <div class="container">
            <br>
            <div class="row justify-content-between">
                <div class="col align-self-start">
                    <div class="input-group obGroup">
                        <textarea id="inOb" class="autoExpand" rows="2" data-min-rows="2" placeholder="8.8.8.8"></textarea>
                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="input-group">
                        <button id="addOb" type="button" class="btn bg-dark border-primary submit" onclick="submitObservable()"> Add Observable</button>
                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="input-group">
                        <button id="clearOb" type="button" class="btn bg-dark border-warning" onclick="clearAllObs()">Clear All</button>
                    </div>
                </div>
            </div>

            <br>
            <div class="row align-items-start obRow" style="display: none;">
                <div class="col-sm-2 align-self-start obColumn m-2" style="">
                    <div class="input-group" id="outOb"></div>
                </div>
                <div class="col-sm-5 align-self-start obColumn m-2" style="">
                    <div id="dnsDiv">
                        <h6>Current DNS</h6>
                        <div class="table-responsive-sm" id="outInfo">
                            <table id="infoTable" class="table-dark table-sm" style="background-color:black !important;">
                                <thead>
                                    <tr>
                                        <th data-field="type"><span class="text-primary">Type</span></th>
                                        <th data-field="value"><span class="text-primary">Value</span></th>
                                        <th data-field="source"><span class="text-primary">Source</span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div id="whoisDiv">
                        <h6>WHOIS Info</h6>
                        <div class="table-responsive-sm" id="outIpInfo">
                            <table id="ipInfoTable" class="table-dark table-sm" style="background-color:black !important;">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>  
                    <br>
                    <div id="pdnsDiv">
                        <h6>Passive DNS</h6>
                        <div class="table-responsive-sm" id="outPdns">
                            <table id="pdnsTable" class="table-dark table-sm" style="background-color:black !important;">
                                <thead>
                                    <tr>
                                        <th data-field="rrname"><span class="text-primary">Name</span></th>
                                        <th data-field="rrdata"><span class="text-primary">Data</span></th>
                                        <th data-field="rrtype"><span class="text-primary">Type</span></th>
                                        <th data-field="time_first" data-formatter="formatTime"><span class="text-primary">First Seen</span></th>
                                        <th data-field="time_last" data-formatter="formatTime"><span class="text-primary">Last Seen</span></th>
                                        <th data-field="count"><span class="text-primary">Count</span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <br>
              
                </div>

                <div class="col-sm-2 align-self-start intColumn m-2">
                    <div class="input-group intLinks intAddressLinks" id="intAddressLinks" style="display: none;">
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-success"><a href="#" id="proxy_client" target="_blank">Proxy [Search]</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-success"><a href="#" id="dash_client" target="_blank">Proxy [Dash]</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="teams_a" target="_blank">Post to Chat</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="onenote_a" target="_blank">Post to OneNote</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="fireeye_a" target="_blank">FireEye</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="fireeyeaws_a" target="_blank">FireEye (AWS)</a></button>
                    </div>
                    <div class="input-group intLinks intDomainLinks" id="intDomainLinks" style="display: none;">
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-success"><a href="#" id="proxy_server" target="_blank">Proxy [Search]</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-success"><a href="#" id="dash_server" target="_blank">Proxy [Dash]</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="teams_d" target="_blank">Post to Chat</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="onenote_d" target="_blank">Post to OneNote</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="fireeye_d" target="_blank">FireEye</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="fireeyeaws_d" target="_blank">FireEye (AWS)</a></button>
                    </div>
                    <div class="input-group intLinks intUrlLinks" id="intUrlLinks" style="display: none;">
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="splunk_u" target="_blank">Splunk (Proxy)</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="teams_u" target="_blank">Post to Chat</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="onenote_u" target="_blank">Post to OneNote</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="fireeye_u" target="_blank">FireEye</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-primary"><a href="#" id="fireeyeaws_u" target="_blank">FireEye (AWS)</a></button>
                    </div>
                </div>
                <div class="col-sm-2 align-self-start extColumn m-2">
                    <div class="input-group extLinks extAddressLinks" id="extAddressLinks" style="display: none;">
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="riskiq_a" target="_blank">RiskIQ</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="shodan_a" target="_blank">Shodan</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="dazzlepod_a" target="_blank">DazzlePod</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="censys_a" target="_blank">Censys.io</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="dnslytics_a" target="_blank">DNSlytics</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="threatconnect_a" target="_blank">ThreatConnect</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="urlhaus_a" target="_blank">URLHaus</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="hurricane_a" target="_blank">Hurricane Electric</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="domainTools_a" target="_blank">DomainTools</a></button>
                        <!-- Referer: https://research.domaintools.com/ -->
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="robtex_a" target="_blank">Robtex</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="abuseipdb_a" target="_blank">AbuseIpDB</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="googledns_a" target="_blank">Google DNS</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="virustotal_a" target="_blank">VirusTotal</a></button>
                    </div>
                    <div class="input-group extLinks extDomainLinks" id="extDomainLinks" style="display: none;">
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="robtex_d" target="_blank">Robtex</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="riskiq_d" target="_blank">RiskIQ</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="censys_d" target="_blank">Censys.io</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="dnslytics_d" target="_blank">DNSlytics</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="threatconnect_d" target="_blank">ThreatConnect</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="urlhaus_d" target="_blank">URLHaus</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="googledns_d" target="_blank">Google DNS</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="archive_d" target="_blank">Archive.org</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="virustotal_d" target="_blank">VirusTotal</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="builtwith_d" target="_blank">BuiltWith</a></button>
                    </div>
                    <div class="input-group extLinks extUrlLinks" id="extUrlLinks" style="display: none;">
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="archive_u" target="_blank">Archive.org</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="virustotal_u" target="_blank">VirusTotal</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="urlquery_u" target="_blank">UrlQuery</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="urlscan_u" target="_blank">Urlscan.io</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="urlhaus_u" target="_blank">URLHaus</a></button>
                        <button type="button" class="btn btn-dark btn-sm btn-link m-1 border-danger"><a href="#" id="malshare_u" target="_blank">MalShare</a></button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col align-self-start m-2">
                    <div class="row">
                        <div class="col">
                            <ol class="no-bullets">
                                <h7>O365</h7>
                                <li><a href="https://outlook.office365.com/mail/inbox" target="_blank">O365 Mail</a></li>
                                <li><a href="" target="_blank">OneDrive</a></li>
                                <li><a href="" target="_blank">Sharepoint</a></li>
                                <li><a href="" target="_blank"> Sharepoint</a></li>
                            </ol>
                        </div>
                        <div class="col">
                            <h7>Splunk</h7>
                            <ol class="no-bullets">
                                <li><a href="" target="_blank">Macros</a></li>
                                <li><a href="" target="_blank">Dashboards</a></li>
                                <li><a href="" target="_blank">Alerts</a></li>
                                <li><a href="" target="_blank">Lookups</a></li>

                            </ol>
                        </div>
                        <div class="col">
                            <h7> Tools</h7>
                            <ol class="no-bullets">
                                <li><a href="" target="_blank">Splunk</a></li>
                                <li><a href="" target="_blank">Tenable.io</a></li>
                                <li>
                                    <a href="" target="_blank">FireEye</a>
                                </li>
                                <li><a href="" target="_blank">FireEye(AWS)</a></li>
                                <li><a href="" target="_blank">MISP</a></li>
                                <li><a href="" target="_blank">Exabeam</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col align-self-start m-2">
                    <div class="row">
                        <div class="col">
                            <h7>Systems &amp; POCs</h7>
                            <ol class="no-bullets">
                                <li>
                                    <a href="" target="_blank"
                                </li>
                                <li><a href="" target="_blank"
                                <li><a href="" target="_blank">ECN</a></li>
                                <li>
                                    <a href="" target="_blank">CMDB</a>
                                </li>
                                <li><a href="" target="_blank">Approved Software</a></li>
                            </ol>
                        </div>
                        <div class="col">
                            <h7>Research</h7>
                            <ol class="no-bullets">
                                <li><a href="https://www.hybrid-analysis.com/search" id="hybridanalysis" target="_blank">Hybrid Analysis</a></li>
                                <li><a href="https://maltiverse.com/search" id="maltiverse" target="_blank">Maltiverse</a></li>
                                <li><a href="https://www.joesandbox.com/search" id="joesandbox" target="_blank">Joe Sandbox</a></li>
                                <li><a href="https://intelligence.fireeye.com/" id="fireeyeintel" target="_blank">FireEye Intel</a></li>
                                <li><a href="https://www.nerdydata.com/reports/new" id="nerdydata" target="_blank">NerdyData</a></li>
                                <!-- postdata   {"search":{"all":[{"type":"code","value":"d2q0iedf40qix7.cloudfront.net"}],"any":[],"none":[]}} -->
                            </ol>
                        </div>
                        <div class="col">
                            <h7>Utilities</h7>
                            <ol class="no-bullets">
                                <li><a href="https://gchq.github.io/CyberChef/" target="_blank">CyberChef</a></li>
                                <li><a href="https://regex101.com/" target="_blank">Regex 101</a></li>
                                <li><a href="https://mxtoolbox.com/subnetcalculator.aspx" target="_blank">Subnet Calc</a></li>
                                <li><a href="https://crontab.guru/" id="crontab" target="_blank">Crontab</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col align-self-start m-2">
                    <div class="row">
                        <div class="col">
                            <h7>Azure</h7>
                            <ol class="no-bullets">
                                <li><a href="" target="_blank">AzureDevOps</a></li>
                                <li><a href="https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Overview" target="_blank">AzurePortal</a></li>
                                <li><a href="https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/security/fundamentals/best-practices-and-patterns.md" target="_blank">AzureGuidance</a></li>
                            </ol>
                        </div>
                        <div class="col">
                            <h7>AWS</h7>
                            <ol class="no-bullets">
                                <li>
                                    <a href="" target="_blank">AWS POCs</a>
                                </li>
                                <li><a href="" target="_blank">AWS Accounts</a></li>
                                <li><a href="" target="_blank">AWS Allow List</a></li>
                                <li><a href="" target="_blank">AWS Policies</a></li>
                            </ol>
                        </div>
                        <div class="col">
                            <h7>Other3</h7>
                            <ol class="no-bullets">
                                <li><a href="" target="_blank">ECOP</a></li>
                                <li><a href="" target="_blank">EmailArchive</a></li>
                                <li><a href="" target="_blank">Repo</a></li>
                                <li><a href="" target="_blank"> Repo</a></li>
                                <li><a href="" target="_blank">HowToSecurity</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="timeline" class="tabcontent2 timeline" style="display: none;">
        <div class="container">
            <div class="bootstrap-table">
        <div class="fixed-table-toolbar"></div>
        
        <div class="fixed-table-container" style="padding-bottom: 0px;">
        <div class="fixed-table-header" style="display: none;"><table></table></div>
        <div class="fixed-table-body">
        <div class="fixed-table-loading table table-bordered table-hover" style="top: 1px;">
        <span class="loading-wrap">
        <span class="loading-text">Loading, please wait</span>
        <span class="animation-wrap"><span class="animation-dot"></span></span>
        </span>
        </div>
        <table id="timelineTable" class="table-responsive table-dark w-auto table table-bordered table-hover" style="background-color:black !important;">
                <thead style=""><tr><th style="" data-field="day"><div class="th-inner ">Day</div><div class="fht-cell"></div></th><th style="" data-field="time"><div class="th-inner ">Time (CST)</div><div class="fht-cell"></div></th><th style="" data-field="event"><div class="th-inner ">Event</div><div class="fht-cell"></div></th></tr></thead>
            <tbody><tr data-index="0"><td style="">10/21/2020</td><td style="">13:02:43</td><td style="">Access key (<span style="color:red;">akai</span>) and secret key string for the <span style="color:green">svc-common</span> user in the ESB-mod-nonprod AWS account was commit to public Github repository <a href="https://github.com/yrkhanal/aws" target="_blank"><i class="fa fa-external-link"></i>&nbsp;https://github.com/yrkhanal/aws</a> by user yrkhanal</td></tr><tr data-index="1"><td style="">10/21/2020</td><td style="">13:02:50</td><td style="">AWS applied the IAM Policy <span style="color:yellow">AWSCompromisedKeyQuarantine</span> on the IAM user <span style="color:green">svc-common</span>. This Policy restrict the user from the following:<br><t>- Deny all EC2 (instances,VM)<br><t>- Deny all IAM (AWS user identity and access management)<br>- Deny all Lambda (scripting, automation using Lambda)<br>- Deny all Lightsail (web applications)<br>- Deny all Organization (centralized AWS account management)</t></t></td></tr><tr data-index="2"><td style="">10/21/2020</td><td style="">13:03:53</td><td style="">The same access key and secret key string was deleted from code but was retained in code commit history</td></tr><tr data-index="3"><td style="">10/21/2020</td><td style="">13:04:14</td><td style="">The external actor used <kbd>GetSessionToken</kbd> to obtain temporary access key <span style="color:red">ASIAZCFGRYL54YNEBK6U</span> set to expire on <span style="color:green">Oct 23, 2020 6:04:14 AM</span></td></tr><tr data-index="4"><td style="">10/21/2020</td><td style="">13:04:15</td><td style="">- listed access keys (secret key strings were not revealed<br>- listed users (user password were not revealed)<br>- successfully deleted another access key in the same account <span style="color:red;">AKIAZCFGRYL55MMBREB7</span></td></tr><tr data-index="5"><td style="">10/21/2020</td><td style="">13:04:16</td><td style="">- 2 fail attempts to create a new access key<br>- successfully deleted the currently exposed access key <span style="color:red;">AKIAZCFGRYL5VMYQFW54</span><br>- failed in an attempt to create a new user<br>- listed the SAML provider</td></tr><tr data-index="6"><td style="">10/21/2020</td><td style="">13:04:16 - 13:04:21</td><td style="">- list AWS service quotas<br>- No further activity was observed after this time</td></tr><tr data-index="7"><td style="">10/21/2020</td><td style="">13:08:00</td><td style="">AWS config logs were enabled</td></tr><tr data-index="8"><td style="">10/21/2020</td><td style="">13:15:00</td><td style="">AWS notified the AWS Cloud Monitor team of a potential access key compromise</td></tr><tr data-index="9"><td style="">10/21/2020</td><td style="">13:59:17</td><td style="">Cloud admin George Ritter deleted the <span style="color:green">svc-common</span> user effectively removing access</td></tr><tr data-index="10"><td style="">10/21/2020</td><td style="">14:54:00</td><td style="">End User account involved with posting the keys to Github was disabled</td></tr><tr data-index="11"><td style="">10/21/2020</td><td style="">14:55:00</td><td style="">End User -svradmin account involved with posting the keys to Github was disabled</td></tr><tr data-index="12"><td style="">10/22/2020</td><td style="">09:09:00</td><td style="">End User PIV was revoked</td></tr></tbody></table></div>
        <div class="fixed-table-footer" style="display: none;"><table><thead><tr></tr></thead></table></div>
        </div>
        <div class="fixed-table-pagination" style="display: none;"></div>
        </div><div class="clearfix"></div>
        </div>
    </div>

    <div id="remnux" class="tabcontent2 remnux" style="display: none;">
        <embed src="" width="100%" height="750">
    </div>

    <div id="api" class="tabcontent2 api" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <br>
                    <div class="input-group mb-3" style="width:250px;">
                        <input id="term" type="text" class="form-control" placeholder="text" aria-label="search" aria-describedby="basic-addon2">
                        <div class="input-group-append" style="display:inline!important;">
                            <button class="btn bg-dark border-primary submit" type="button" onclick="searchCall()">Search</button>
                        </div>
                    </div>
                    <div id="outSearch" class="hidden">
                        <table id="searchTable" class="table-responsive table-dark" style="background-color:black !important;">
                            <thead>
                                <tr>
                                    <th data-field="trackingId" data-formatter="formatTrackId"><span class="text-primary">TrackingId</span></th>
                                    <th data-field="id" data-formatter="formatId"><span class="text-primary">Link</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <br>
                    <div class="input-group mb-3">
                        <button type="button" onclick="makeCall('dashboard')" style="background-color: black;" class="btn bg-dark border-primary submit">Dashboards</button>
                        <button type="button" onclick="makeCall('workspaces')" style="background-color: black;" class="btn bg-dark border-primary submit">Workspaces</button>
                        <button type="button" onclick="makeCall('reports')" style="background-color: black;" class="btn bg-dark border-primary submit">Reports</button>
                        <button type="button" onclick="makeCall('app')" style="background-color: black;" class="btn bg-dark border-primary submit">Applications</button>
                    </div>
                    <div id="outButton" class="hidden">
                        <table id="buttonTable" class="table-responsive table-dark" style="background-color:black !important;">
                            <thead>
                                <tr>
                                    <th data-field="name"><span class="text-primary">Name</span></th>
                                    <th data-field="id"><span class="text-primary">ID</span></th>
                                    <th data-field="createdByUser.name"><span class="text-primary">CreatedBy</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edito" class="tabcontent2 edito" style="padding-top: 0px; display: none;">

        <textarea id="code" name="code" style="padding-top:0px;">            &lt;h1&gt;This is a title&lt;/h1&gt;
            
            &lt;p&gt;This is some text&lt;/p&gt;
            
            &lt;p&gt;Here is an inline &lt;a href="#"&gt;hyperlink&lt;/a&gt; inside of a paragraph&lt;/p&gt;
            
            &lt;p&gt;Here is a list:&lt;/p&gt;
            &lt;ul&gt;
            &lt;li&gt;Item 1&lt;/li&gt;
            &lt;li&gt;Item 2&lt;/li&gt;
            &lt;/ul&gt;
        </textarea>

        <iframe id="preview" style="border: none;height:378px;"></iframe>

        <p style="width:150px;height:20px;">
            <select onchange="selectTheme()" id="select">
                <option selected="">ayu-dark</option>
                <option>3024-day</option>
                <option>3024-night</option>
                <option>abcdef</option>
                <option>ambiance</option>
                <option>ayu-dark</option>
                <option>ayu-mirage</option>
                <option>base16-dark</option>
                <option>base16-light</option>
                <option>bespin</option>
                <option>blackboard</option>
                <option>cobalt</option>
                <option>colorforth</option>
                <option>darcula</option>
                <option>dracula</option>
                <option>duotone-dark</option>
                <option>duotone-light</option>
                <option>eclipse</option>
                <option>elegant</option>
                <option>erlang-dark</option>
                <option>gruvbox-dark</option>
                <option>hopscotch</option>
                <option>icecoder</option>
                <option>idea</option>
                <option>isotope</option>
                <option>lesser-dark</option>
                <option>liquibyte</option>
                <option>lucario</option>
                <option>material</option>
                <option>material-darker</option>
                <option>material-palenight</option>
                <option>material-ocean</option>
                <option>mbo</option>
                <option>mdn-like</option>
                <option>midnight</option>
                <option>monokai</option>
                <option>moxer</option>
                <option>neat</option>
                <option>neo</option>
                <option>night</option>
                <option>nord</option>
                <option>oceanic-next</option>
                <option>panda-syntax</option>
                <option>paraiso-dark</option>
                <option>paraiso-light</option>
                <option>pastel-on-dark</option>
                <option>railscasts</option>
                <option>rubyblue</option>
                <option>seti</option>
                <option>shadowfox</option>
                <option>solarized dark</option>
                <option>solarized light</option>
                <option>the-matrix</option>
                <option>tomorrow-night-bright</option>
                <option>tomorrow-night-eighties</option>
                <option>ttcn</option>
                <option>twilight</option>
                <option>vibrant-ink</option>
                <option>xq-dark</option>
                <option>xq-light</option>
                <option>yeti</option>
                <option>yonce</option>
                <option>zenburn</option>
            </select>
        </p>
    </div>

    <div id="forma" class="tabcontent2 forma" style="display: none;">
        <div class="e" style="padding-top:0px;">
            <div id="origin">Point of Origin:</div>
            <div class="atitle">ePO Alert</div>
            <div style="padding-left:10px;padding-right:10px;padding-top:6px;">
                <code class="codebox"
        Number of events: 1
        Threat Name:  PDF/Phish.m
        Threat Type:   Trojan
        Threat Action Taken:  Delete
        Analyzer Detection Method: On-Access Scan
        Detecting Product Names:  McAfee Endpoint Security
        Detected on Machine:  09/23/20 10:33:32 UTC</code><br>
            </div>
        </div>

        <div class="e">
            <div id="artifacts">Artifacts:</div>
            <div style="padding-left:10px">
                <table class="otable" id="atable">
                    <tbody><tr>
                        <td>Sandbox Analysis of PDF</td>
                        <td><a style="color:#337ab7;" href="https://app.any.run/tasks/f43dcd63-c45a-44d0-9f4f-cbf0dcc0896b" target="_blank"><i class="fa fa-external-link"></i>&nbsp;&nbsp;https://app.any.run/tasks/f43dcd63-c45a-44d0-9f4f-cbf0dcc0896b</a></td>
                    </tr>
                    <tr>
                        <td>Zip, browser history, triage</td>
                        <td><a href="" target="_blank"><i class="fa fa-link"
                    </tr>
                    <tr>
                        <td>Similar tickets</td>
                        <td><a href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;INC</a>,&nbsp;&nbsp;&nbsp;<a class="safe" href="" target="_blank"><i class="fa fa-link"></i>&nbsp;&nbsp;INC2346580</a></td>
                    </tr>
                </tbody></table><br>
            </div>
        </div>

        <div class="e">
            <div id="timeline">Timeline:</div>
            <div style="padding-left:10px">
                <table class="otable" id="ttable">
                    <tbody><tr>
                        <td>2020-09-23 10:33:02Z</td>
                        <td>User google search</td>
                    </tr>
                    <tr>
                        <td>2020-09-23 10:33:31Z</td>
                        <td>User visits Shopify link and Chrome browser caches the pdf</td>
                    </tr>
                    <tr>
                        <td>2020-09-23 10:33:32Z</td>
                        <td>Mcafee ePO alert</td>
                    </tr>
                </tbody></table><br>
            </div>
        </div>

            <div class="e">
                <div id="analysis">Analysis:</div>
                <div class="atitle">lanugodegamet.pdf</div>
                <div class="artifact">
                    <code class="codebox">  &gt; has a full title of "The logical thinking process dettmer.pdf", "dettmer" being one of the keyword the user had google searched
        &gt; present a fake captcha image when opened, prompting the user to click on it
        &gt; once the fake captcha is clicked, the user is prompted to download an executable from <span class="bad">regpodcasts[.]com</span></code>
                </div>

                <div class="atitle">the+logical+thinking+process+dettmer+pdf-RTMD-AGxea1-GMAAAEDkCAERFGQAmAPCrXnYA.exe</div>
                <div class="artifact">
                    <code class="codebox">  &gt; have a very long named with the pdf file name appended along with many random characters
        &gt; have a 31/70 detection ratio on <a class="safe" href="https://www.virustotal.com/gui/file/8d0b176bbb5572c2c4783dd19804bba97073e25ea57d6fb68b10b82dca1f7721/detection"><i class="fa fa-external-link"></i>&nbsp;VirusTotal</a>
        &gt; will attempt to DNS resolve domain named <span class="bad">easywbdesign[.]com</span> and <span class="bad">server2[.]easywbdesign[.]com</span>; and then connect to them via port 443
        &gt; according to OSINT &nbsp;<span class="bad">easywbdesign[.]com</span>, is being listed as a possible C2 for a botnet</code>
                </div>

                <div class="atitle">USER:</div>
                <div class="artifact">
                    <code class="codebox">  &gt; 30 day proxy log search along with the user's browser history does not show any traffic to the malware delivery or C2 domain
        &gt; sysmon logs search does not show an executable matching what was observed written or executed on the user's system</code>
                </div>
            </div>
    </div>

    <div id="splunk" class="tabcontent2 splunk" style="display: none;">
            <div class="container">
                <table id="splunkTable" class="table-responsive table-dark" style="background-color:black !important;">
                    <thead>
                        <tr>
                            <th data-field="macro"><span class="text-primary">Macro</span></th>
                            <th data-field="link" data-formatter="LinkFormatter"><span class="text-primary">Link</span></th>
                        </tr>
                    </thead>
                </table>
            </div>
    </div>
          
